.modalContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
}

.modalBackdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.445);
}

.modalDialog {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
}

.modalDialogHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.modalDialogHeader h3 {
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
}

.modalDialogFooter {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 1rem;
}
