:root {
  --color: rgba(128, 128, 128, 0.493);
}

.button {
  background-color: white;
  border-radius: 8px;
  font-size: medium;
  border: 1px solid var(--color);
  border-bottom: 2px solid var(--color);
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.buttonEnabled {
  color: black;
}

.buttonEnabled:hover {
  border-bottom: 2px solid rgb(0, 102, 255);
}

.buttonDisabled {
  color: var(--color);
}
