:root {
  --dialogWidth: auto;
}

.dialog {
  border: 1px solid rgba(128, 128, 128, 0.493);
  width: var(--dialogWidth);
}



.dialogHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.dialogHeader h3{
  margin: 0.5rem;
  margin-bottom: 1rem;
}

.dialogHeader h3 {
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
}

.dialogFooter {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 1rem;
}
